---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Marquee from '../components/Marquee.astro';
import BuildsSection from '../components/BuildsSection.astro';
import CareerSection from '../components/CareerSection.astro';
import OffKeyboardSection from '../components/OffKeyboardSection.astro';
import OffTheClockSection from '../components/OffTheClockSection.astro';
import ContactSection from '../components/ContactSection.astro';
import Footer from '../components/Footer.astro';
---
<Base>
  <Nav />
  <main>
    <Hero />
    <Marquee />
    <BuildsSection />
    <CareerSection />
    <OffKeyboardSection />
    <OffTheClockSection />
    <ContactSection />
  </main>
  <Footer />
</Base>
